 html, body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
 }

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.page-title {
    display: flex;
    height: 60px;
    flex-direction:row;    
    justify-content: center;
    align-items: center;    
    color: #000    ;
    text-shadow: 2px 2px 0px wheat;
}

.NamePokemon-Search {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 15px;
}    

.ListPokemon {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    gap: 20px;
    align-content: flex-start;
    align-items: flex-start;
    perspective: 1000px;
    position: relative;
}

.pokemon-card {
    flex-basis: 30%;        
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 6px rgb(0, 0, 0,0.1);
    transition: transform 0.5s ease;
    cursor: pointer;
}



.title-name {
    font-weight: bold;
    text-transform: capitalize; 
    font-size: 1.2rem;
    color: #333;
}
.pokemon-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}

.stat-item {
    text-transform: capitalize; 
    margin-top: 5px;

}

button {
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s, transform 0.1s;
}

#search {
    background-color: #333;
    color: white;
    border: none;
    padding: 2.5px 5px;
    border-radius: 5px;
    font-size: 1rem;
}

#search:hover {
    background-color: #000;
}


#search:active {
    transform: scale(0.95);
}


.button-learnMoves{
    background-color: #333;
    color: white;    
    border: 1px solid #000;
    border-radius: 5px;
    padding: 4px 8px;
    margin-top: 5px;
}

.button-learnMoves:hover {
    background-color: #000;
}

#pagePokemons{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
    margin-top: 20px;
    transition: background-color 0.3s
}

.page-number-button{
    background-color: #333;
    color: white;
    border-radius: 50%;
    font-weight: bold;
}

.page-number-button:hover {
    background-color: #000;
}

.pokemon-card img {
    width: 110px;
    height: 110px;
    object-fit: contain;
    margin-bottom: 10px;
}

.moves-text {
    max-height: 200px;
    overflow-y: auto;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 0.9rem; 
    width: 100%;
    box-sizing: border-box;
    text-transform: capitalize; 

}

#namePokemon {
    background-color: #333;
    border: 2px solid white;
    color: white;
    padding: 2.5px 5px;
    border-radius: 5px;
    font-size: 1rem;

}

.ListPokemon.one-card .pokemon-card{
    display: none;
}

.ListPokemon.one-card .pokemon-card.expanded {
    display: flex;       
    flex-basis: 100%;    
    max-width: 500px;    
    margin: 0 auto;      
    cursor: default;     
    transform: none;
    transition: none;
    border: 2px solid #333;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    cursor: pointer;
    animation: cleane 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}



.error-message {
    width: 100%;
    text-align: center; 
    font-size: 1.5rem;    
    color: #555;      
    margin-top: 50px;
    font-weight: bold;
    font-family: sans-serif;
}

.stat-item {
    margin-top: 10px;
}

.types-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.type-badge {
    color: white;
    padding: 4px 10px;
    border-radius: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

.stats-title {
    margin-top: 10px;
    margin-bottom: 5px;
}

.stats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.stat-text {
    margin: 0;
    text-transform: capitalize;
}

.pokemon-card.closing {
    z-index: 100; 
    
    animation: disappear 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards !important;
    
    pointer-events: none;

}

.page-number-button.active {
    background-color: white;
    color: black;
    border: 2px solid #000; 
    cursor: default;
}





@keyframes cleane {
    0% {
        opacity: 0;            
        transform: scale(0.1); 
    }
        60% {
        opacity: 1;
        transform: scale(1.05); 
    }
        100% {
        opacity: 1;
        transform: scale(1);   
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
        transform: scale(1.8) translateY(0);
        z-index: 100;
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);;
        z-index: 1;
    }
}

/* cell phones */
@media (max-width: 768px) {
    .pokemon-card {
        flex-basis: 90%; 
        margin-bottom: 20px;
    }

    .ListPokemon {
        gap: 10px; 
    }
    
    .NamePokemon-Search {
        flex-direction: column;
        align-items: stretch;
    }
}